/*
IMPORTANT: margin-left for
.flex-container-helper
.flex-container-body
h1
h2
.transbox
should be set to the same value for the best results :)
*/

/* Anything in the Header (Title and Subtitle) */
.flex-container-header {
	display: flex;
	background-color: #f1f1f1;
	justify-content: left;
}

.flex-container-header > div {}

div.wrap {
	word-wrap: break-word;
}

/* Anything in the nav-bar */
.flex-container-bar {
	display: flex;
	background-color: dimgray;
	justify-content: left;
}


/* Button/Dropdown Menu Stuff */
.flex-container-helper {
	margin-left: 100px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown .drop-button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.drop-button > a {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-decoration: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content > a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .drop-button {
	background-color: #3D3D3D;
}

/* Secondary Header Box for anything but the homepage */
.transbox {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: rgba(237, 247, 255, .6);
}

.transbox h1 {
	color: #4f4f4f;
	margin-left: 25px;
	font-family: Verdana;
	font-size: 350%;
}

/* Anything in the body (Should be the main paragraph and possibly images) */
.flex-container-body {
	display: flex;
	flex-shrink: 1;
	float: left;
	background-color: #f1f1f1;
	flex-direction: row;
	margin-top: 25px;
	width: 60%;
	margin-right: 25px;
	margin-left: 100px;
	margin-bottom: 25px;
	justify-content: left;
	flex: 2 1 auto;
}

.flex-container-body > div {
	margin-bottom: 25px;
	line-height: 20px;
	overflow: auto;
}

.flex-container-body h1 {
	margin-left: 25px;
	color: #4f4f4f;
}

.flex-container-body h2 {
	display: block;
	margin-left: 25px;
	color: #4f4f4f;
	font-size: 150%;
}

.flex-container-body img {
	float: left;
	width: 250px;
	margin-right: 10px;
}

/* Upcoming Events Box */
.flex-container-event {
	float: left;
	width: 300px;
	background-color: #f1f1f1;
	margin-top: 25px;
}

.flex-container-event > div {
	line-height: 20px;
	overflow: auto;
	width: auto;
}

.flex-container-event h1 {
	font-size: 150%;
	margin-left: unset;
	padding-left: 25px;
	padding-right: 25px;
	color: #4f4f4f;
}

.flex-container-event p {
	
}

/* Miscellaneous Formatting */
body {
	background-color: #CCE9FF;
}

h1 {
	margin-left: 100px;
	color: #222222;
	font-family: Verdana;
	font-size: 250%;
}

h2 {
	margin-left: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #222222;
	font-family: Verdana;
	font-size: 100%;
}

p {
	display: block;
	margin-left: 25px;
	margin-right: 15px;
	color: #222222;
}

/* For when the screen gets smol :) */
@media screen and (max-width: 1200px) {
	.flex-container-helper {
		margin-left: 25px;
	}

	.dropdown .drop-button {
		padding: 14px 8px;
	}
	
	.transbox {
		margin-top: 10px;
		margin-left: 25px;
		margin-right: 25px;
	}

	.flex-container-body {
		margin-right: 25px;
		margin-left: 25px;
	}
	
	h1 {
		margin-left: 25px;
		font-size: 200%;
	}

	h2 {
		margin-left: 25px;
		font-size: 100%;
	}

	.flex-container-event {
		width: 30%;
	}
}

@media screen and (max-width: 880px) {
	.flex-container-body {
		width:unset;
	}

	.flex-container-event {
		width: unset;
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 25px;
	}

@media screen and (max-width: 600px) {
	.transbox h1 {
		text-align: center;
	}

	.flex-container-body img {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		float: unset;
		display: block;
	}
}