/*
IMPORTANT: margin-left for
.flex-container-helper
.flex-container-body
h1
h2
should be set to the same value for the best results :)
*/

/* Anything in the Header (Title and Subtitle) */
.flex-container-header {
	display: flex;
	background-color: #f1f1f1;
	justify-content: left;
}

.flex-container-header > div {}

div.wrap {
	word-wrap: break-word;
}

/* Anything in the nav-bar */
.flex-container-bar {
	display: flex;
	background-color: dimgray;
	justify-content: left;
}


/* Button/Dropdown Menu Stuff */
.flex-container-helper {
	margin-left: 100px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown .drop-button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.drop-button > a {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-decoration: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content > a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .drop-button {
	background-color: #3D3D3D;
}


/* For when the screen gets smol :) */
@media screen and (max-width: 1200px) {
	.flex-container-helper {
		margin-left: 25px;
	}

	.dropdown .drop-button {
		padding: 14px 8px;
	}
}

/* Anything in the body (Should be the main paragraph) */
.flex-container-body {
	display: flex;
	background-color: #f1f1f1;
	flex-direction: column;
	margin-top: 25px;
	min-width = 100px;
	max-width = 500px;
	margin-right: 100px;
	margin-left: 100px;
	justify-content: left;
}

.flex-container-body > div {
	margin: 5px;
	line-height: 20px;
}

/* For when the screen gets smol :) */
@media screen and (max-width: 1200px) {
	.flex-container-body {
		margin-right: 25px;
		margin-left: 25px;
	}
}

/* Miscellaneous Formatting */
body {
	background-color: #CCE9FF;
}

h1 {
	margin-left: 100px;
	color: #222222;
	font-family: Verdana;
	font-size: 250%;
}

h2 {
	margin-left: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #222222;
	font-family: Verdana;
	font-size: 100%;
}

p {
	margin: 25px;
	color: #222222;
}

/* For when the screen gets smol :) */
@media screen and (max-width: 1200px) {
	h1 {
		margin-left: 25px;
                font-size: 200%;
	}

	h2 {
                margin-left: 25px;
                font-size: 100%;
	}
}